parameters:
    excludes_analyse:
    	- /tests/tmp/*
    level: 7
    paths:
        - src
    autoload_files:
    scanDirectories:
        - %rootDir%/..
    ignoreErrors:
    	#- HelpPC/Application/Model/TRepository
    fileExtensions:
    	- php

includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
